/* References

   1. Headings & Text:
      - W3Schools: https://www.w3schools.com/css/css_font.asp
      - MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
      - CSS-Tricks: https://css-tricks.com/almanac/properties/f/font-weight/

   2. Lists (ul, li):
      - W3Schools: https://www.w3schools.com/css/css_list.asp
      - MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
      - CSS-Tricks: https://css-tricks.com/almanac/properties/l/list-style/

   3. Box Model (padding, margin, border, border-radius, box-shadow):
      - W3Schools: https://www.w3schools.com/css/css_box.asp
      - MDN: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model
      - CSS-Tricks: https://css-tricks.com/almanac/properties/b/box-shadow/

   4. Flexbox (layout of li items and responsive arrangement):
      - W3Schools: https://www.w3schools.com/css/css3_flexbox.asp
      - MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout
      - CSS-Tricks: https://css-tricks.com/snippets/css/a-guide-to-flexbox/

   5. Images (object-fit, responsive logos):
      - W3Schools: https://www.w3schools.com/css/css3_object-fit.asp
      - MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
      - CSS-Tricks: https://css-tricks.com/almanac/properties/o/object-fit/

   6. Responsive Design / Media Queries:
      - W3Schools: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
      - MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
      - CSS-Tricks: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/

   7. Highlights / Status styles (.past, .on-now, .on-next):
      - W3Schools: https://www.w3schools.com/css/css_border.asp
      - MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/border
      - CSS-Tricks: https://css-tricks.com/almanac/properties/b/border/
*/

h1,
h2 {
    color: #222;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 1em;
    padding: 8px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.programme-img {
    width: 105px;
    height: 148px;
    object-fit: contain;
    border-radius: 6px;
    flex-shrink: 0;
}

.programme-text {
    flex: 1;
}

.title {
    font-weight: bold;
}

.logo-container img.logo {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.synopsis {
    font-style: italic;
    color: #555;
    margin-left: 1em;
}

#loading {
    font-weight: bold;
    color: #0073e6;
    margin-bottom: 1em;
    text-align: center;
}

#schedule {
    text-align: left;
    width: 45%;
    margin: 0 auto;
}

.past {
    opacity: 0.8;
}

.on-now {
    border-left: 4px solid orange;
    border-right: 4px solid orange;
    background-color: #ffd699;
}

.on-next {
    border-left: 4px solid yellow;
    border-right: 4px solid yellow;
    background-color: #ffffb3;
}

/* Channel Listings button aligned left */
#channel-list {
    margin: 10px 0;
    /* vertical spacing */
    float: left;
    /* aligns it to the left */
}

/* Optional: clear float for subsequent elements */
#channel-info,
#schedule {
    clear: both;
    background-color: #ffd95c;
}

body.dark-mode #channel-info,
body.dark-mode #schedule {
    background-color: #111;
}

/* ---------------------- */
/* SMALL SCREEN (<600px)  */
/* ---------------------- */

@media (max-width: 600px) {

    #schedule {
        width: 95%;
        margin: 0 auto;
    }

    li {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .programme-img {
        width: 80px;
        height: auto;
    }

    .programme-text {
        text-align: center;
    }

    .synopsis {
        margin-left: 0;
        margin-top: 0.5em;
    }

    .logo-container img.logo {
        max-width: 200px;
    }
}